:root {
  font-family: "Grotesque", sans-serif, "Bricolage", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.font-serif {
  font-family: "Bricolage", "Georgia", serif;
}
.font-sans {
  font-family: "Grotesque", sans-serif;
}
.font-mono {
  font-family: "Menlo", "Monaco", monospace;
}

/**
NEWSLETTER CONTAINER CLASSES
**/

.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  margin: -1rem 0 0 0;
  height: 65vh;
  width: 100vw;
}

.newsletter-container .ends {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -5rem;
  margin-right: -5rem;
}
newsletter-container .subscription {
  align-items: center;
}

.newsletter-container input[type="email"] {
  height: 3rem;
  flex-grow: 2;
  border-radius: 0.5rem 0 0 0.5rem;
}

.newsletter-container button {
  height: 3rem;
  flex-grow: 1;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .newsletter-container .subscription {
    flex-direction: column;
    margin: auto;
  }

  .newsletter-container button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .newsletter-container input[type="email"] {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
  }
}
